<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
<meta charset="UTF-8">
<title>豆瓣抽</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<link href="css/main.css" rel="stylesheet" />
</head>
<body>
<div id="header">
    <fieldset>
        <legend></legend>
        <!--<p>-->
            <!--<label>签到才能抽奖！<input type="text" id="checkinInput" placeholder="填写你的称呼"></label>-->
            <!--<span class="bn-flat"><input type="button" class="checkin-btn" value="签到"></span>-->
        <!--</p>-->
        <div id="pickbox">
        </div>
    </fieldset>
</div>
<div id="wrapper">
    <div id="main">
        <div id="toolbar">
            <span class="bn-flat"><input type="button" value="新集合" class="new-btn"></span>
            <span class="bn-flat"><input type="button" value="洗牌" class="shuffle-btn"></span>
            <span class="bn-flat"><input type="button" value="翻面" class="turnover-btn"></span>
            <span class="bn-flat"><input type="button" value="已选出的名单" class="show-btn"></span>
            <span class="bn-flat"><input type="button" value="导出数据" class="export-btn"></span>
            <span class="bn-flat"><input type="button" value="重置" class="reset-btn"></span>
            <div id="pickcount">已抽出：<strong>0</strong></div>
        </div>
        <!--<canvas id="luckybox" width="750" height="500"></canvas>-->
        <div id="luckybox"><strong class="loading">加载中...</strong></div>
    </div>
    <div id="aside">
        <ul id="teamlist"></ul>
    </div>
</div>

<script type="text/template" id="tplExport">
<textarea class="export-list">
{% for (var name in lists) { %}
{%=name%}
------------------
{%=(lists[name].map(function(row){ return row.name; }).join('&nbsp;&nbsp;'))%}
{% } %}
</textarea>
</script>

<script type="text/template" id="tplDetail">
<div class="detail-box">
<h6>{%=info.name%}</h6>
{% Object.keys(info).forEach(function(field, i){ %}
    {% if (fields[i] && field !== 'name') { %}
    <p><label>{%=fields[i]%}</label><span>{%=this[field]%}</span></p>
    {% } %}
{% }, info); %}
</div>
</script>

<script type="text/template" id="tplTeamlist">
{% teams.forEach(function(team){ %}
    <li {%=(team.name === current_team ? 'class="chosen"' : '')%}>
        <span>{%=team.name%}</span>
        <em>{%=team.count%}</em>
        <a class="team" href="#{%=escapeHTML(team.name)%}"></a>
    </li>
{% }); %}
</script>

<script type="text/template" id="tplTeamInfo">
<table>
<thead>
<tr>
    <td></td>
    {% teams.forEach(function(team){ %}
        <td>{%=team.name%}</td>
    {% }); %}
</tr>
</thead>
<tbody>
{% for (var i = 1; i <= round; i++) { %}
    {% if (teams.length !== 1 || teams[0].rounds[i]) { %}
<tr>
    <td style="width:60px">第{%=i%}轮</td>
    {% teams.forEach(function(team){ %}
        <td>{%=((team.rounds[i] || {}).name || '')%}</td>
    {% }); %}
</tr>
    {% } %}
{% } %}
{% if (round < 1) { %}
<tr>
    <td style="width:60px">第1轮</td>
    <td>还未开始</td>
</tr>
{% } %}
</tbody>
</table>
</script>

<script src="js/lib/oz.js"></script>
<script>
oz.def("jquery-src", "js/lib/jquery_src.js");
oz.def("jquery", ["jquery-src"], "js/lib/jquery.js");
oz.def("jquery-mousewheel", "js/lib/jquery.mousewheel.js");
oz.def("lang", "js/mod/lang.js");
oz.def("browsers", "js/mod/browsers.js");
oz.def("event", "js/mod/event.js");
oz.def("template", "js/mod/template.js");
oz.def("easing", "js/mod/easing.js");
oz.def("mainloop", "js/mod/mainloop.js");
oz.def("uiproxy", "js/mod/uiproxy.js");
oz.def("domready", "js/mod/domready.js");
oz.def("IDBStore", "js/mod/IDBStore.js");
oz.def("drag", "js/mod/drag.js");
oz.def("scrollbar", "js/mod/scrollbar.js");
oz.def("dialog", "js/mod/dialog.js");
oz.def("data/draft.json");
oz.def("luckybox", "js/luckybox.js");

require(["jquery", "lang", "uiproxy", "template", "luckybox", "data/draft.json", "domready"], function($, _, uiproxy, tpl, app, json){

    var data = json.list.map(function(str){
        var info = {};
        str.split(/,\s*/).forEach(function(text, i){
            info[this[i]] = text;
        }, json.fields);
        return info;
    });

    app.init({
        canvas: $('#luckybox'),
        defaultDB: data
    }).then(function(){
        app.shuffle();
    });

    var current_team = '';
    var count = 0;
    var pickbox = $('#pickbox');
    var pickcount = $("#pickcount strong");
    var teamlist = $('#teamlist');

    app.event.bind('init', function(){
        updateTeamlist();
    });

    uiproxy.add(document.body, 'click', {
        ".shuffle-btn": function(){
            app.shuffle();
        },
        ".turnover-btn": function(){
            app.turnover();
        },
        ".new-btn": function(){
            app.alert('<input type="text" id="teamName" value="" placeholder="名称" />', function(){
                var newteam = $('#teamName')[0].value;
                app.setTeam({ _team: newteam });
                switchTeam(newteam);
            }, {
                title: '请输入名称'
            });
        },
        ".show-btn": function(){
            app.alert(tpl.convertTpl('tplTeamInfo', {
                teams: app.getTeams(),
                round: app.round
            }), false, {
                width: 760,
                hideButton: true,
                isHideTitle: true
            });
        },
        ".export-btn": function(){
            app.exportData(function(lists){
                app.alert(tpl.convertTpl('tplExport', { lists: lists }), {
                    title: '导出数据'
                });
            });
        },
        ".reset-btn": function(){
            app.clear().then(function(){
                location.reload();
            });
        },
        ".team": clickTeam,
        ".team.chosen": clickTeam,
        ".card": function(){
            if (this.nodeName !== "A") {
                return arguments.callee.call(this.parentNode);
            }
            var me = $(this);
            var cid = (/#uid=(\w+)/.exec(me.attr("href")) || [])[1];
            if (cid) {
                if (me.data('chosen')) {
                    app.unpick(cid, function(){
                        me.remove();
                        updateTeamlist();
                        pickcount[0].innerHTML = --count;
                    });
                } else {
                    if (!current_team) {
                        app.alert('请先创建或选择一个集合');
                        return;
                    }
                    app.pick(cid, current_team, function(data){
                        app.dialog.set({
                            isHideTitle: true,
                            content: tpl.convertTpl('tplDetail', { info: data, fields: json.fields_title }),
                            width: 700
                        }).open();
                        app.dialog.event.wait('close', function(){
                            updateTeamlist();
                            pickCard(me);
                            pickcount[0].innerHTML = ++count;
                        });
                    });
                }
            }
        }
    });

    function clickTeam(){
        var myteam = this.href.replace(/.*#/, '');
        app.alert(tpl.convertTpl('tplTeamInfo', {
            teams: app.getTeams().filter(function(team){
                if (team.name === myteam) {
                    return true;
                }
            }),
            round: app.round
        }), function(){
            switchTeam(myteam);
        }, {
            width: 500,
            isHideTitle: true
        });
    }

    function pickCard(card){
        var pos = card.offset();
        var newpos = card.css('visibility', 'hidden').appendTo(pickbox).offset();
        card.clone().appendTo('body').css(pos).css('visibility', 'visible').animate(newpos, 500, 'easeInOutQuad', function(){
            $(this).remove();
            card.css('visibility', 'visible').data('chosen', current_team);
        });
    }

    function switchTeam(team){
        if (current_team == team) {
            return;
        }
        current_team = team;
        updateTeamlist();
        pickbox[0].innerHTML = '';
        var pos = teamlist.offset();
        app.getTeam(team).members.forEach(function(obj){
            delete obj._team;
            var card = app.draw(obj, {
                pos: [pos.left, pos.top]
            });
            obj._team = team;
            pickCard(card);
        });
    }

    function updateTeamlist(){
        teamlist[0].innerHTML = tpl.convertTpl('tplTeamlist', {
            current_team: current_team,
            teams: app.getTeams()
        });
    }

});
</script>
</body>
</html>
